:root {
  --black: #000000;

  --grey-100: #F2F2F2;
  --grey-200: #D9D9D9;
  --grey-300: #808080;
  --grey-400: #333333;
  --grey-500: #262626;
  --grey-600: #1a1a1a;
  --grey-700: #0d0d0d;

  --danger-500: #e25858;

  --purple-500: #8284fa;
  --purple-700: #5e60ce;

  --blue-500: #4ea8de;
  --blue-700: #1e6f9f;
}

:focus {
  outline: 1px solid var(--purple-500);
}

body {
  background: var(--grey-600)
}

body,
a,
button,
input,
textarea {
  font-family: 'Inter', sans-serif;
  line-height: 1.4;
}

button {
  cursor: pointer;
}

strong {
  font-weight: bold;
}